.App {
  text-align: center;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.products {
  max-width: 100%;
  padding: 0;
}

.filtr-container {
  max-width: 90%;
  margin: auto;
}

.filtr-item {
  width: 25%;
}

.filtr-controls {
  display: inline-block;
  padding: 10px;
}

.book {
  padding: 10px;
  width: 100%; /* or a specific width */
  aspect-ratio: 663 / 1024; /* Desired aspect ratio */
  overflow: hidden; /* Optional: to hide overflow */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Options: cover, contain, fill, none, scale-down */
  }
}
